<!doctype html>
<html lang="en">
<title>Crust Never Sleeps Archive</title>
<style>
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 25px;
    }

        body {
        font-family: serif;
        color:black;
        background-color: lightgray;
    }
</style>

<body>

    <main>

        <h1>Crust Never Sleeps Archive | Reed Dunlea</h1>
         

        {{ layoutContent | safe }}
    </main>

</body>

</html>